// =============================================================================
//
// Name:          Visible
//
// Description:   Simply displays content as block.
//
// Blocks:        `u-visible`
//                `u-visible@palm`       // disabled by default
//                `u-visible@lap`        // disabled by default
//                `u-visible@lap-and-up` // disabled by default
//                `u-visible@portable`   // disabled by default
//                `u-visible@desk`       // disabled by default
//                `u-visible@retina`     // disabled by default
//
// Markup:
//
// <ul class="u-visible">
//     <li>...</li>
//     <li>...</li>
//     <li>...</li>
// </ul>
//
// <ul class="u-visible@lap">
//     <li>...</li>
//     <li>...</li>
//     <li>...</li>
// </ul>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables bellow in order to alter and enable specific
// features.

$tree-visible-namespace:            $tree-namespace !default;

$tree-enable-visible--responsive:   false !default;





// =============================================================================
// Block: `u-visible`
// =============================================================================

.#{$tree-visible-namespace}u-visible {
    display: block !important;
}





// =============================================================================
// Blocks: `u-visible@[palm|lap|lap-and-up|portable|desk|retina]`
// =============================================================================

@if $tree-enable-visible--responsive == true {

    // Responsive visible classes.

    // Loop over our breakpoints defined in _settings.responsive.scss
    @each $breakpoint in $breakpoints {

        // Get the name of the breakpoint.
        $alias: nth($breakpoint, 1);

        @include media-query($alias) {

            .#{$tree-visible-namespace}u-visible\@#{$alias} {
                display: block !important;
            }

        } // Close media query.

    } // Close breakpoints loop.

} // Close visible--responsive @if.
