// *************************************
//
//   #VISIBLE
//
// *************************************

// The visible module simply displays content as block.

// Predefine the variables bellow in order to alter and enable specific features.
$tree-visible-namespace:            $tree-namespace !default;

$tree-enable-visible--responsive:   false !default;





.#{$tree-visible-namespace}u-visible {
    display: block !important;
}





@if $tree-enable-visible--responsive == true {

    // Responsive visible classes.

    // Loop over our breakpoints defined in _settings.responsive.scss
    @each $breakpoint in $breakpoints {

        // Get the name of the breakpoint.
        $alias: nth($breakpoint, 1);

        @include media-query($alias) {

            .#{$tree-visible-namespace}u-visible-#{$alias} {
                display: block !important;
            }

        } // Close media query.

    } // Close breakpoints loop.

} // Close visible--responsive @if.
